/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
    font-family: 'TEST';
    src: url(test.ttf);
}

h1,h2{
    font-family:"TEST";
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.panel
{
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.panel h5{
    color:#FFFFFF;
    padding:10px 0;
}

/*
.gift_place{
    margin-top:2em;
    margin-bottom:2em;
}*/
.cropit-preview {
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 250px;
	height: 250px;
    margin:0 auto;
}

.cropit-preview-image-container {
cursor: move;
}

.image-size-label {
margin-top: 10px;
}

#result {
margin-top: 10px;
width: 900px;
}

#result-data {
display: block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
word-wrap: break-word;
}

.checkbox
{
    padding-left:25px !important;
    padding-right:5px;
}